[submodule "submodules/obggcc"]
	path = submodules/obggcc
	url = https://github.com/AmanoTeam/obggcc
[submodule "submodules/nz"]
	path = submodules/nz
	url = https://github.com/AmanoTeam/Nouzen
[submodule "submodules/musl"]
	path = submodules/musl
	url = https://git.musl-libc.org/git/musl
